body {
    color: #e0ebe8;
    margin: 0;
    text-align: center;
}

div {
    background-color: #E4F9F5;
}

@import url(//fonts.googleapis.com/css?family=Open+Sans);

#top-container {
    background-color: #e0ebe8;
    padding-top: 10%;
    position: relative;
}

#mid-container {
    background-color: blue;
    height: 200px;
    width: 200px;
}

#bot-container {
    background-color: green;
    height: 200px;
    width: 200px;
}

h1 {
    color: white;
    font-size: 300%;
}

p {
    color: white;
    font-family: 'Open Sans';
    font-size: 150%;
    margin: 0;
}

span {
    text-decoration: underline;
}

.left-cloud {
    position: absolute;
    left: 35%;
    bottom: 40%;
}

.right-cloud {
    position: absolute;
    right: 34%;
    top: 28%;
}