
@font-face {
    font-family: 'open-sans';
    src: url(../fonts/OpenSans-Regular.ttf);
}

@font-face {
    font-family: 'open-sans-italic';
    src: url(../fonts/OpenSans-Italic.ttf);
}

@font-face {
    font-family: 'pacifico';
    src: url(../fonts/Pacifico-Regular.ttf);
}

body {
    background-color: #e0ebe8;
    text-align: center;
}

div {
    background-color: #e0ebe8;
}

#top-container {
    background-color: #e0ebe8;
    padding-top: 8%;
    position: relative;
}

h1 {
    color: white;
    font-family: 'pacifico';
    font-size: 600%;
}

p {
    color: white;
    font-family: 'open-sans-italic';
    font-size: 150%;
    margin: 0;
}

.left-cloud {
    position: absolute;
    left: 33%;
    bottom: 35%;
}

.right-cloud {
    position: absolute;
    right: 30%;
    top: 28%;
}